@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

:root {
  --yellow: #f2a600;
  --orange: #e74c3c;
  --blue: #0c8aec;
}

h1, h2, h3, h4, h5, p, ul, li, a, span, input {
  font-family: 'Bungee Spice', cursive;
  text-decoration: none;
  touch-action: none;
}